absl-py==0.10.0
aiobotocore @ file:///tmp/build/80754af9/aiobotocore_1602081758369/work
aiohttp @ file:///opt/concourse/worker/volumes/live/893742d6-dd9e-4693-6ad8-7402592041f5/volume/aiohttp_1607109646206/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
alembic==1.4.1
altair==4.1.0
anaconda-client==1.7.2
appnope @ file:///opt/concourse/worker/volumes/live/5f13e5b3-5355-4541-5fc3-f08850c73cf9/volume/appnope_1606859448618/work
argon2-cffi @ file:///opt/concourse/worker/volumes/live/59af29ac-4890-416e-7ab7-794f8d6f7ecd/volume/argon2-cffi_1596828548321/work
arrow @ file:///Users/runner/miniforge3/conda-bld/arrow_1598229322378/work
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
Automat==20.2.0
awscli==1.18.185
azure-core==1.9.0
azure-storage-blob==12.6.0
backcall==0.2.0
base58==2.0.1
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bcrypt_1610521179145/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blinker==1.4
blis==0.4.1
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1599001041559/work
boto==2.49.0
boto3 @ file:///tmp/build/80754af9/boto3_1597464530854/work
botocore==1.19.25
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1603546210212/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1607706694405/work
catalogue==1.0.0
catboost==0.24.4
certifi==2020.12.5
cffi==1.14.0
chardet @ file:///opt/concourse/worker/volumes/live/a5a7c56b-23cb-471d-7404-f4130b8aed33/volume/chardet_1605303184529/work
chromedriver-binary @ file:///Users/runner/miniforge3/conda-bld/python-chromedriver-binary_1599220377732/work
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama==0.4.3
colorlover==0.3.0
combo==0.1.2
commonmark==0.9.1
configparser==5.0.1
confuse==1.4.0
constantly==15.1.0
corextopic==1.0.6
crayons==0.4.0
cryptography @ file:///opt/concourse/worker/volumes/live/27753773-e292-4a76-405d-313f3647b99f/volume/cryptography_1607636767414/work
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.3
cytoolz==0.11.0
dash==1.16.3
dash-bootstrap-components==0.10.7
dash-colorscales==0.0.4
dash-core-components==1.12.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
dask @ file:///tmp/build/80754af9/dask-core_1601309103750/work
dask-glm==0.2.0
dask-ml @ file:///home/conda/feedstock_root/build_artifacts/dask-ml_1600982284777/work
databricks-cli==0.14.1
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
distributed @ file:///opt/concourse/worker/volumes/live/bd66aa48-5cf5-4b60-6ed4-f204fff153f6/volume/distributed_1605066538557/work
docker==4.4.1
docopt==0.6.2
docutils==0.15.2
dtale==1.18.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
enum-compat==0.0.3
fake-useragent==0.1.11
Faker @ file:///home/conda/feedstock_root/build_artifacts/faker_1600099359914/work
filelock==3.0.12
findspark==1.3.0
flashtext==2.7
Flask==1.1.2
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1604422164145/work
Flask-Cors==3.0.8
flask-ngrok==0.0.25
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
funcy==1.15
future==0.18.2
fuzzywuzzy==0.17.0
gamma==0.3.10
gast==0.3.3
gensim @ file:///Users/runner/miniforge3/conda-bld/gensim_1589441204121/work
gitdb==4.0.5
GitPython==3.1.8
google-api-core @ file:///opt/concourse/worker/volumes/live/6862ffde-1aa6-49a5-4c46-7f243bc8efd0/volume/google-api-core-split_1601307056502/work
google-auth @ file:///tmp/build/80754af9/google-auth_1607969906642/work
google-auth-oauthlib==0.4.1
google-cloud-core @ file:///tmp/build/80754af9/google-cloud-core_1608056104900/work
google-cloud-storage @ file:///tmp/build/80754af9/google-cloud-storage_1608139055921/work
google-crc32c @ file:///opt/concourse/worker/volumes/live/6ce05938-1470-4321-59bd-bf58f343da61/volume/google-crc32c_1608056236840/work
google-pasta==0.2.0
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1608056254223/work
googleapis-common-protos @ file:///opt/concourse/worker/volumes/live/67da5ff9-d9f2-4d35-6118-48a7fbb6c52d/volume/googleapis-common-protos-feedstock_1600455661382/work
graphviz==0.16
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
hiplot @ file:///home/conda/feedstock_root/build_artifacts/hiplot_1608743620569/work
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
htmlmin==0.1.12
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ImageHash==4.2.0
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1592145894352/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
incremental==17.5.0
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
ipykernel @ file:///opt/concourse/worker/volumes/live/88f541d3-5a27-498f-7391-f2e50ca36560/volume/ipykernel_1596206680118/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/26969e8f-c9f7-42dc-6ffb-b3effd424c49/volume/ipython_1604101242376/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isodate==0.6.0
isort==5.5.3
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1605109124033/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1605273565796/work
itsdangerous==1.1.0
jedi @ file:///opt/concourse/worker/volumes/live/12a2c347-a8e4-4b62-5b19-dcc92a2254f6/volume/jedi_1606932552286/work
Jinja2==2.11.2
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core @ file:///opt/concourse/worker/volumes/live/e8302867-5dbe-440b-7a37-f61bacc38ed8/volume/jupyter_core_1606148993907/work
jupyter-highlight-selected-word==0.2.0
jupyter-http-over-ws==0.0.8
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator @ file:///Users/runner/miniforge3/conda-bld/jupyter_nbextensions_configurator_1594127118794/work
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
kaggle==1.5.10
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver @ file:///opt/concourse/worker/volumes/live/b8936fa6-0e4b-47e7-4fb4-e02dbd4505ee/volume/kiwisolver_1604014598721/work
kmodes==0.10.2
lazy-object-proxy==1.4.3
lightgbm==3.1.1
line-profiler==3.0.2
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1594322709119/work
lz4==3.1.0
Mako==1.1.3
Markdown==3.2.2
MarkupSafe @ file:///opt/concourse/worker/volumes/live/cb778296-98db-45ad-411e-6f726e102dc3/volume/markupsafe_1594371638608/work
matplotlib @ file:///opt/concourse/worker/volumes/live/f7797860-f8aa-410c-4a56-72315954816b/volume/matplotlib-base_1603378002957/work
mccabe==0.6.1
memory-profiler==0.57.0
missingno==0.4.2
mistune @ file:///opt/concourse/worker/volumes/live/95802d64-d39c-491b-74ce-b9326880ca54/volume/mistune_1594373201816/work
mlflow==1.13.1
mlxtend @ file:///home/conda/feedstock_root/build_artifacts/mlxtend_1595907137614/work
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
msgpack @ file:///opt/concourse/worker/volumes/live/72addd97-7a03-457a-46ee-3dd914587c9b/volume/msgpack-python_1607965805341/work
msrest==0.6.19
multidict @ file:///opt/concourse/worker/volumes/live/e3f0befa-3c1c-4f9f-44d5-8afffb1ee62a/volume/multidict_1600456413421/work
multipledispatch==0.6.0
murmurhash==1.0.2
nb-conda==2.2.1
nb-conda-kernels @ file:///opt/concourse/worker/volumes/live/82c137e0-23e6-475b-7bb1-19e036b0f8ea/volume/nb_conda_kernels_1606775964383/work
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///opt/concourse/worker/volumes/live/2b9c1d93-d0fd-432f-7d93-66c93d81b614/volume/nbconvert_1601914875037/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nbgrader==0.6.1
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.4.4
nose==1.3.7
notebook @ file:///opt/concourse/worker/volumes/live/d85c0794-1357-4fff-61be-761a5e60b85b/volume/notebook_1608835566278/work
numba @ file:///opt/concourse/worker/volumes/live/ae24c1ca-d916-4043-5919-a843fa33e451/volume/numba_1600084276085/work
numexpr==2.7.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1597938353960/work
oauthlib==3.1.0
olefile==0.46
opencv-python==4.4.0.46
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1607971725249/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1599601086269/work
pandas-profiling==2.9.0
pandasql==0.7.3
pandocfilters @ file:///opt/concourse/worker/volumes/live/c330e404-216d-466b-5327-8ce8fe854d3a/volume/pandocfilters_1605120442288/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso==0.7.0
partd==1.1.0
path==15.0.0
path.py==12.5.0
pathtools==0.1.2
patsy==0.5.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phik==0.10.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///opt/concourse/worker/volumes/live/991b9a87-3372-4acd-45f9-eaa52701f03c/volume/pillow_1603822262543/work
pipreqs==0.4.10
plac==1.1.3
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1599749020028/work
pluggy==0.13.1
preshed==3.0.2
progressbar2==3.37.1
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prometheus-flask-exporter==0.18.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
Protego==0.1.16
protobuf==3.13.0
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1594826961980/work
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2_1599504199690/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
py-glm @ git+https://github.com/cscherrer/py-glm.git@d719d29fb5cc71c2cb5e728db36c6230a69292d8
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydeck==0.5.0b1
PyDispatcher==2.0.5
pydot==1.4.1
pygam==0.8.0
PyGithub @ file:///home/conda/feedstock_root/build_artifacts/pygithub_1597754614289/work
Pygments @ file:///tmp/build/80754af9/pygments_1607368905949/work
PyHamcrest==2.0.2
PyJWT==1.7.1
pyLDAvis==2.1.2
pylint==2.6.0
pymongo==3.11.0
pyod==0.8.5
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent @ file:///opt/concourse/worker/volumes/live/ff11f3f0-615b-4508-471d-4d9f19fa6657/volume/pyrsistent_1600141727281/work
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
pytest==6.1.2
pytest-runner==5.2
python-dateutil==2.8.1
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1593788306353/work
python-editor==1.0.4
python-frontmatter==0.5.0
python-Levenshtein @ file:///Users/runner/miniforge3/conda-bld/python-levenshtein_1597160510126/work
python-slugify==4.0.1
python-utils==2.4.0
pytz @ file:///tmp/build/80754af9/pytz_1606604771399/work
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
querystring-parser==1.2.4
queuelib==1.5.0
regex==2020.10.28
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
retrying==1.3.3
rich==9.6.1
rsa==4.5
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1599670808955/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1606864127951/work
sacremoses==0.0.43
scattertext==0.0.2.71
scikit-learn @ file:///opt/concourse/worker/volumes/live/111833a2-339b-4578-413b-7337bb8fe64a/volume/scikit-learn_1598376920601/work
scikit-plot==0.3.7
scikit-surprise==1.1.1
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1595583614364/work
Scrapy @ file:///Users/runner/miniforge3/conda-bld/scrapy_1605626671950/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1599592695803/work
selenium @ file:///opt/concourse/worker/volumes/live/f54cbba5-7632-4bae-5fbd-3ec06aa93a51/volume/selenium_1594416153038/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sentencepiece==0.1.94
service-identity==18.1.0
six @ file:///opt/concourse/worker/volumes/live/5b31cb27-1e37-4ca5-6e9f-86246eb206d2/volume/six_1605205320872/work
sklearn==0.0
smart-open @ file:///tmp/build/80754af9/smart_open_1606865094381/work
smmap==3.0.4
soph==0.2.2
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
spacy==2.3.2
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/60740715-d446-4164-5b0a-2e0bf83d4185/volume/sqlalchemy_1608243739201/work
sqlparse==0.4.1
squarify==0.4.3
srsly==1.0.2
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1598551437387/work
streamlit==0.71.0
strsimpy==0.1.9
suod==0.0.5
svdRec==0.1.1
tables==3.6.1
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
thinc==7.4.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tokenizers==0.9.2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.7.0
torchaudio==0.4.0a0+ba6d67b
torchvision==0.5.0
tornado @ file:///opt/concourse/worker/volumes/live/05341796-4198-4ded-4a9a-332fde3cdfd1/volume/tornado_1606942323372/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1599956693194/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
transformers==3.4.0
tweepy @ file:///home/conda/feedstock_root/build_artifacts/tweepy_1594498408379/work
Twisted @ file:///Users/runner/miniforge3/conda-bld/twisted_1610478857177/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
tzlocal==2.1
umap-learn==0.4.6
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
validators==0.18.1
visions==0.5.0
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
wasabi==0.8.0
watchdog==0.10.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webdriver-manager==3.3.0
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt @ file:///opt/concourse/worker/volumes/live/e3646d84-e961-4523-6bed-01532273c57e/volume/wrapt_1597851473852/work
xarray==0.16.1
xgboost==1.2.0
XlsxWriter==1.3.6
yarg==0.1.9
yarl @ file:///opt/concourse/worker/volumes/live/1ca49bfe-d6bc-4f62-4ca7-30c33d4f9b33/volume/yarl_1598045187281/work
yellowbrick==1.2
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.interface @ file:///Users/runner/miniforge3/conda-bld/zope.interface_1610146865901/work
